In [ ]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

:

In [ ]:
movie = pd.read_csv("movies.dat", delimiter="::", engine="python",header = None, names = ['movieId', 'title', 'genre'],encoding="latin-1")
rating = pd.read_csv("ratings.dat", delimiter="::", engine="python",header = None,names=['userId', 'movieId', 'rating', 'timestamp'],encoding = "latin-1")
movie.head()

   movieId                               title                         genre
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

In [3]:
rating.head()

   userId  movieId  rating  timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [9]:
movie_rating = pd.merge(movie,rating, on = "movieId")
movie_rating[["movie_name","year"]]= movie_rating["title"].str.split("(",expand=True)[[0,1]]
movie_rating

,movieId,title,genre,userId,rating,timestamp,movie_name,year
0,1,Toy Story (1995),Animation|Children's|Comedy,1,5,978824268,Toy Story,1995)
1,1,Toy Story (1995),Animation|Children's|Comedy,6,4,978237008,Toy Story,1995)
2,1,Toy Story (1995),Animation|Children's|Comedy,8,4,978233496,Toy Story,1995)
3,1,Toy Story (1995),Animation|Children's|Comedy,9,5,978225952,Toy Story,1995)
4,1,Toy Story (1995),Animation|Children's|Comedy,10,5,978226474,Toy Story,1995)
...,...,...,...,...,...,...,...,...
1000204,3952,"Contender, The (2000)",Drama|Thriller,5812,4,992072099,"Contender, The",2000)
1000205,3952,"Contender, The (2000)",Drama|Thriller,5831,3,986223125,"Contender, The",2000)
1000206,3952,"Contender, The (2000)",Drama|Thriller,5837,4,1011902656,"Contender, The",2000)
1000207,3952,"Contender, The (2000)",Drama|Thriller,5927,1,979852537,"Contender, The",2000)
1000208,3952,"Contender, The (2000)",Drama|Thriller,5998,4,1001781044,"Contender, The",2000)

In [10]:
movies = movie_rating.pivot_table(index='userId',columns='movie_name',values='rating',fill_value=0)
movies

movie_name,"$1,000,000 Duck",'Night Mother,'Til There Was You,"'burbs, The",...And Justice for All,1-900,10 Things I Hate About You,101 Dalmatians,12 Angry Men,"13th Warrior, The",...,"Young Poisoner's Handbook, The",Young Sherlock Holmes,Young and Innocent,Your Friends and Neighbors,Zachariah,"Zed & Two Noughts, A",Zero Effect,Zero Kelvin,Zeus and Roxanne,eXistenZ
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,0.0,3.0,0.0,0.0,0.0,0.0,2.0,4.0,0.0,1.0,...,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
6037,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6038,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6039,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6040,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
user = 100
top = 10

In [12]:
similarity_users = cosine_similarity(movies)
similar_users = pd.DataFrame(similarity_users,index=movies.index,columns=movies.index)
similar_users

userId,1,2,3,4,5,6,7,8,9,10,...,6031,6032,6033,6034,6035,6036,6037,6038,6039,6040
userId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.096382,0.120610,0.132455,0.090158,0.179222,0.059678,0.138241,0.226148,0.254736,...,0.170588,0.082006,0.090961,0.033663,0.115121,0.187047,0.136297,0.000000,0.174604,0.133590
2,0.096382,1.000000,0.151479,0.171176,0.114394,0.100865,0.305787,0.211120,0.190198,0.227745,...,0.112503,0.091222,0.268565,0.014286,0.183773,0.229121,0.206756,0.066118,0.072737,0.218276
3,0.120610,0.151479,1.000000,0.151227,0.062907,0.074603,0.138332,0.077656,0.126457,0.214487,...,0.092960,0.125864,0.161507,0.000000,0.097514,0.143817,0.107996,0.120234,0.094675,0.133144
4,0.132455,0.171176,0.151227,1.000000,0.045094,0.013529,0.130339,0.100856,0.093651,0.121208,...,0.163629,0.093041,0.382803,0.000000,0.082271,0.171240,0.127762,0.062907,0.064634,0.137968
5,0.090158,0.114394,0.062907,0.045094,1.000000,0.047449,0.126257,0.220817,0.261330,0.117508,...,0.100652,0.035732,0.065278,0.054151,0.179462,0.294496,0.173091,0.020459,0.027689,0.241437
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,0.187047,0.229121,0.143817,0.171240,0.294496,0.093944,0.122913,0.232415,0.240531,0.344186,...,0.131800,0.210652,0.193510,0.103830,0.271005,1.000000,0.343041,0.124653,0.222186,0.416280
6037,0.136297,0.206756,0.107996,0.127762,0.173091,0.065942,0.111935,0.152577,0.226989,0.251971,...,0.142642,0.276781,0.130289,0.119027,0.143318,0.343041,1.000000,0.049130,0.252736,0.429242
6038,0.000000,0.066118,0.120234,0.062907,0.020459,0.065711,0.000000,0.019242,0.093470,0.114232,...,0.108837,0.106897,0.040689,0.000000,0.064102,0.124653,0.049130,1.000000,0.161714,0.099300
6039,0.174604,0.072737,0.094675,0.064634,0.027689,0.167303,0.014977,0.044660,0.046434,0.297386,...,0.128539,0.250994,0.053750,0.102168,0.073991,0.222186,0.252736,0.161714,1.000000,0.233260
6040,0.133590,0.218276,0.133144,0.137968,0.241437,0.083436,0.080680,0.148123,0.215819,0.256789,...,0.154574,0.291988,0.115540,0.118840,0.169355,0.416280,0.429242,0.099300,0.233260,1.000000

In [13]:
def user_based(user,top):
    sim = similar_users[user].drop(user)
    weights = sim/sim.sum()
    not_watched = movies.loc[movies.index!= user,movies.loc[user,:]==0]
    sim_weights = pd.DataFrame(not_watched.T.dot(weights.to_numpy()),columns=["weighted_avgs"])
    return(sim_weights.sort_values(by="weighted_avgs",ascending=False).head(top))

In [14]:
user_based(100,10)

                             weighted_avgs
movie_name
American Beauty                   2.528044
Terminator 2: Judgment Day        2.399808
Back to the Future                2.119552
Terminator, The                   2.084272
Sixth Sense, The                  2.034059
Alien                             1.939840
Pulp Fiction                      1.916290
Fugitive, The                     1.891628
L.A. Confidential                 1.890494
E.T. the Extra-Terrestrial        1.877853

In [15]:
movies_new = movies.T
movies_new

userId,1,2,3,4,5,6,7,8,9,10,...,6031,6032,6033,6034,6035,6036,6037,6038,6039,6040
movie_name,,,,,,,,,,,,,,,,,,,,,
"$1,000,000 Duck",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
'Night Mother,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0
'Til There Was You,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"'burbs, The",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...And Justice for All,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Zed & Two Noughts, A",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zero Effect,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zero Kelvin,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zeus and Roxanne,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
eXistenZ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0

In [16]:
similarity_movies = cosine_similarity(movies_new)
similar_movies = pd.DataFrame(similarity_movies,index=movies_new.index,columns=movies_new.index)
similar_movies

movie_name,"$1,000,000 Duck",'Night Mother,'Til There Was You,"'burbs, The",...And Justice for All,1-900,10 Things I Hate About You,101 Dalmatians,12 Angry Men,"13th Warrior, The",...,"Young Poisoner's Handbook, The",Young Sherlock Holmes,Young and Innocent,Your Friends and Neighbors,Zachariah,"Zed & Two Noughts, A",Zero Effect,Zero Kelvin,Zeus and Roxanne,eXistenZ
movie_name,,,,,,,,,,,,,,,,,,,,,
"$1,000,000 Duck",1.000000,0.072357,0.037011,0.079291,0.060838,0.000000,0.058619,0.189843,0.094785,0.058418,...,0.038725,0.076474,0.000000,0.044074,0.0,0.045280,0.039395,0.000000,0.120242,0.027003
'Night Mother,0.072357,1.000000,0.115290,0.115545,0.159526,0.000000,0.076798,0.137135,0.111413,0.046135,...,0.053010,0.087828,0.063758,0.135962,0.0,0.091150,0.074787,0.000000,0.000000,0.077807
'Til There Was You,0.037011,0.115290,1.000000,0.098756,0.066301,0.080250,0.127895,0.128523,0.079115,0.066598,...,0.029200,0.062893,0.000000,0.079187,0.0,0.022594,0.079261,0.000000,0.047526,0.063284
"'burbs, The",0.079291,0.115545,0.098756,1.000000,0.143620,0.000000,0.192191,0.250140,0.170719,0.197808,...,0.113386,0.207897,0.019962,0.138064,0.0,0.055704,0.161174,0.000000,0.033567,0.110525
...And Justice for All,0.060838,0.159526,0.066301,0.143620,1.000000,0.000000,0.075093,0.178928,0.205486,0.122431,...,0.089998,0.153006,0.067009,0.109029,0.0,0.086080,0.110867,0.074317,0.000000,0.111040
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Zed & Two Noughts, A",0.045280,0.091150,0.022594,0.055704,0.086080,0.000000,0.012702,0.042295,0.039344,0.041324,...,0.047282,0.073996,0.070409,0.141537,0.0,1.000000,0.084020,0.124939,0.000000,0.137372
Zero Effect,0.039395,0.074787,0.079261,0.161174,0.110867,0.000000,0.175771,0.157313,0.133061,0.156505,...,0.179315,0.169677,0.021362,0.206870,0.0,0.084020,1.000000,0.059228,0.016838,0.242043
Zero Kelvin,0.000000,0.000000,0.000000,0.000000,0.074317,0.000000,0.000000,0.033120,0.036867,0.034797,...,0.048440,0.046892,0.000000,0.000000,0.0,0.124939,0.059228,1.000000,0.000000,0.045644
Zeus and Roxanne,0.120242,0.000000,0.047526,0.033567,0.000000,0.000000,0.058708,0.089840,0.058692,0.034623,...,0.000000,0.046658,0.000000,0.024489,0.0,0.000000,0.016838,0.000000,1.000000,0.044335
eXistenZ,0.027003,0.077807,0.063284,0.110525,0.111040,0.039561,0.162060,0.120762,0.098731,0.230799,...,0.115734,0.180174,0.024437,0.149749,0.0,0.137372,0.242043,0.045644,0.044335,1.000000

In [17]:
user = 100
watched_ratings = movies.loc[movies.index==user,movies.loc[user,:]>0].T
watched_ratings

userId                  100
movie_name
2001: A Space Odyssey   4.0
African Queen, The      4.0
Aliens                  3.0
Anaconda                2.0
Apocalypse Now          2.0
...                     ...
Top Gun                 3.0
True Lies               2.0
Waterworld              2.0
Westworld               3.0
Wizard of Oz, The       5.0

[76 rows x 1 columns]

In [18]:

sim_w_to_nw = similar_movies.loc[movies_new.loc[movies_new.loc[:,user]==0,movies_new.columns == user].index,movies_new.loc[movies_new.loc[:,user]>0,movies_new.columns==user].index]
sim_w_to_nw

movie_name,2001: A Space Odyssey,"African Queen, The",Aliens,Anaconda,Apocalypse Now,Backdraft,Batman,Batman & Robin,Blade Runner,"Bodyguard, The",...,Star Wars: Episode VI - Return of the Jedi,Starship Troopers,Superman,"Thin Red Line, The",Tomorrow Never Dies,Top Gun,True Lies,Waterworld,Westworld,"Wizard of Oz, The"
movie_name,,,,,,,,,,,,,,,,,,,,,
"$1,000,000 Duck",0.068224,0.091952,0.064390,0.042110,0.070806,0.068847,0.107258,0.110725,0.078241,0.068585,...,0.076401,0.055878,0.083285,0.050029,0.073997,0.070672,0.088163,0.054628,0.082025,0.081888
'Night Mother,0.102570,0.099501,0.100992,0.049191,0.125091,0.121145,0.102304,0.064168,0.100799,0.095140,...,0.085066,0.050895,0.099871,0.072105,0.058373,0.099111,0.061857,0.056692,0.079098,0.100298
'Til There Was You,0.056820,0.067484,0.060423,0.048621,0.057018,0.091123,0.089824,0.089565,0.050032,0.124217,...,0.063308,0.044662,0.084160,0.056114,0.096072,0.108243,0.091338,0.073272,0.030603,0.083079
"'burbs, The",0.201256,0.144288,0.236783,0.201951,0.204252,0.251773,0.286277,0.222571,0.202871,0.180146,...,0.227298,0.208741,0.233030,0.138364,0.207978,0.241636,0.235930,0.205060,0.126318,0.211512
...And Justice for All,0.219975,0.175133,0.184067,0.162853,0.231778,0.160994,0.191188,0.132324,0.168662,0.145768,...,0.145253,0.099506,0.196578,0.135888,0.130970,0.154131,0.143800,0.119784,0.200639,0.158385
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Zed & Two Noughts, A",0.094548,0.061755,0.069555,0.057842,0.094075,0.036764,0.074475,0.034470,0.097611,0.016419,...,0.057538,0.066405,0.074961,0.089589,0.054846,0.036809,0.039291,0.045606,0.090412,0.076954
Zero Effect,0.213441,0.124956,0.230593,0.193770,0.213170,0.196843,0.225255,0.158547,0.238674,0.159568,...,0.216028,0.229373,0.212637,0.234263,0.216133,0.168005,0.257254,0.183227,0.175400,0.196501
Zero Kelvin,0.033336,0.022731,0.022176,0.065843,0.042995,0.038173,0.022663,0.051680,0.031341,0.031541,...,0.014436,0.027959,0.025043,0.068447,0.030649,0.026310,0.022785,0.043803,0.044532,0.022229
Zeus and Roxanne,0.044879,0.043081,0.053797,0.068634,0.043289,0.091881,0.064428,0.069787,0.055302,0.057785,...,0.049932,0.045702,0.064074,0.045959,0.071157,0.072303,0.064775,0.071602,0.042200,0.067829
eXistenZ,0.246847,0.119967,0.267288,0.189890,0.192893,0.185402,0.193959,0.129233,0.273004,0.127657,...,0.240921,0.277912,0.240781,0.226785,0.188668,0.156916,0.208308,0.169281,0.193738,0.179543

In [19]:
movie_to_movieId = movie_rating.set_index('movie_name').pivot_table(columns= 'movie_name',values= 'movieId').astype(int)
movie_to_movieId

movie_name,"$1,000,000 Duck",'Night Mother,'Til There Was You,"'burbs, The",...And Justice for All,1-900,10 Things I Hate About You,101 Dalmatians,12 Angry Men,"13th Warrior, The",...,"Young Poisoner's Handbook, The",Young Sherlock Holmes,Young and Innocent,Your Friends and Neighbors,Zachariah,"Zed & Two Noughts, A",Zero Effect,Zero Kelvin,Zeus and Roxanne,eXistenZ
movieId,2031,3112,779,2072,3420,889,2572,1803,1203,2826,...,117,2414,2209,2165,3236,3223,1845,1364,1426,2600

In [20]:
df = pd.DataFrame(sim_w_to_nw.dot(watched_ratings.to_numpy()))
df = df.rename(columns={0:'Pred_rating'})
df

                         Pred_rating
movie_name
$1,000,000 Duck            16.776281
'Night Mother              20.615808
'Til There Was You         16.535180
'burbs, The                46.040745
...And Justice for All     35.671810
...                              ...
Zed & Two Noughts, A       13.955074
Zero Effect                47.367465
Zero Kelvin                 7.070143
Zeus and Roxanne           13.237349
eXistenZ                   45.824475

[3581 rows x 1 columns]

In [21]:
den = sim_w_to_nw.T.sum()
den

movie_name
$1,000,000 Duck             5.541399
'Night Mother               6.568877
'Til There Was You          5.504506
'burbs, The                15.189528
...And Justice for All     11.606123
                             ...
Zed & Two Noughts, A        4.480482
Zero Effect                15.441320
Zero Kelvin                 2.407344
Zeus and Roxanne            4.459816
eXistenZ                   14.978291
Length: 3581, dtype: float64

In [22]:
pred = {}
for i in df.index:
    pred[i] = df.loc[i]/den[i]
pred_new = pd.DataFrame(pred).T
pred_new.sort_values(by="Pred_rating",ascending=False).head(10)

                          Pred_rating
Heaven's Burning             5.000000
Project Moon Base            4.101963
Loves of Carmen, The         4.000000
Dry Cleaning                 4.000000
Anna                         4.000000
Aiqing wansui                4.000000
Slappy and the Stinkers      3.926583
Harlem                       3.890748
Mutters Courage              3.840479
Outside Ozona                3.810568

In [23]:
def item_based(user,top):
    watched_ratings = movies.loc[movies.index==user,movies.loc[user,:]>0].T
    sim_w_to_nw = similar_movies.loc[movies_new.loc[movies_new.loc[:,user]==0,movies_new.columns == user].index,movies_new.loc[movies_new.loc[:,user]>0,movies_new.columns==user].index]
    df = pd.DataFrame(sim_w_to_nw.dot(watched_ratings.to_numpy()))
    df = df.rename(columns={0:'Pred_rating'})
    den = sim_w_to_nw.T.sum()
    pred = {}
    for i in df.index:
        pred[i] = df.loc[i]/den[i]
    pred_new = pd.DataFrame(pred).T
    return pred_new.sort_values(by='Pred_rating',ascending=False).head(top)

In [24]:
item_based(100,10)

                          Pred_rating
Heaven's Burning             5.000000
Project Moon Base            4.101963
Loves of Carmen, The         4.000000
Dry Cleaning                 4.000000
Anna                         4.000000
Aiqing wansui                4.000000
Slappy and the Stinkers      3.926583
Harlem                       3.890748
Mutters Courage              3.840479
Outside Ozona                3.810568

In [25]:
user_based(100,10)

                             weighted_avgs
movie_name
American Beauty                   2.528044
Terminator 2: Judgment Day        2.399808
Back to the Future                2.119552
Terminator, The                   2.084272
Sixth Sense, The                  2.034059
Alien                             1.939840
Pulp Fiction                      1.916290
Fugitive, The                     1.891628
L.A. Confidential                 1.890494
E.T. the Extra-Terrestrial        1.877853

In [26]:
train = 0.7
test = 1 - train

In [27]:
watched_test = watched_ratings.iloc[1:round(len(watched_ratings.index)*train)]
watched_test.T

movie_name,"African Queen, The",Aliens,Anaconda,Apocalypse Now,Backdraft,Batman,Batman & Robin,Blade Runner,"Bodyguard, The",Braveheart,...,Outbreak,"Princess Bride, The",Raiders of the Lost Ark,Red Dawn,Rocky,Rocky II,Romancing the Stone,Saving Private Ryan,Schindler's List,"Shawshank Redemption, The"
userId,,,,,,,,,,,,,,,,,,,,,
100,4.0,3.0,2.0,2.0,3.0,3.0,2.0,3.0,3.0,3.0,...,3.0,4.0,4.0,2.0,4.0,3.0,4.0,4.0,5.0,4.0

In [28]:
not_watched_test = watched_ratings.iloc[round(len(watched_ratings.index)*train):]
not_watched_test.T

movie_name,"Silence of the Lambs, The",Single White Female,Space Cowboys,Star Trek III: The Search for Spock,Star Trek V: The Final Frontier,Star Trek VI: The Undiscovered Country,Star Trek: First Contact,Star Trek: Generations,Star Trek: Insurrection,Star Trek: The Motion Picture,...,Star Wars: Episode VI - Return of the Jedi,Starship Troopers,Superman,"Thin Red Line, The",Tomorrow Never Dies,Top Gun,True Lies,Waterworld,Westworld,"Wizard of Oz, The"
userId,,,,,,,,,,,,,,,,,,,,,
100,4.0,3.0,3.0,3.0,3.0,3.0,3.0,4.0,3.0,3.0,...,4.0,3.0,2.0,2.0,2.0,3.0,2.0,2.0,3.0,5.0

In [29]:
def user_eval(user):
    sim = similar_users[user].drop(user)
    weights = sim/sim.sum()
    watched_ratings = movies.loc[movies.index==user,movies.loc[user,:]>0].T
    not_watched_test = watched_ratings.iloc[round(len(watched_ratings.index)*train):]
    not_watched = movies.loc[movies.index!= user,not_watched_test.index]
    sim_weights = pd.DataFrame(not_watched.T.dot(weights.to_numpy()),columns=["weighted_avgs"])
    RMSE = np.sqrt(np.mean(np.square(not_watched_test[user]-sim_weights["weighted_avgs"])))
    return RMSE

In [30]:
user_eval(98)

np.float64(1.774276997849699)